{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CollabPads - Create and Share Lists</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/CLogo.png' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="amgZp8hfg6HDdoJrQkwI5IWHy1uGHUTB9-A4rf-sIgE" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,600,700" rel="stylesheet" type="text/css">
        <link href="{% static 'css/font-roboto.css' %}" rel="stylesheet" type="text/css">
        <style>
        @media screen and (min-width: 0px) and (max-width: 720px) {
          .mobile-hide{ display: none; }
        }
        .btn-filled{
          background: #43a047 !important;
          border-color: #43a047 !important;
        }
        .accordion-2 .title::before{
          content: '';
        }
        .accordion-2 .active .title::before{
          content: '';
        }
        .module.widget-handle{
          border-top: 0px;
        }
        </style>
    </head>
    <body>
      <div class="nav-container">
      		    <nav class="absolute transparent">
      		        <div class="nav-bar">
      		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
      		                <i class="fa fa-navicon"></i>
      		            </div>
      		            <div class="module-group right">
      		                <div class="module left">
      		                    <ul class="menu">
      		                        <li>
      		                            <a href="/register/">Sign Up</a>
      		                        </li><li>
      		                            <a href="/login/">Login </a>
      		                        </li>
      		                    </ul>
      		                </div>


      		            </div>

      		        </div>
      		    </nav>
      		</div>

      		<div class="main-container">
      		<section class="cover fullscreen image-bg overlay parallax">
      		        <div class="background-image-holder">
      		            <img alt="image" class="background-image" src="{% static 'images/mainBG.jpg' %}">
      		        </div>
      		        <div class="container v-align-transform">
      		            <div class="row">
      		                <div class="col-sm-12 text-center">
      		                    <h1 class="uppercase mb16"><img alt="image" class="mobile-hide" style="margin-bottom: 15px; max-width: 100px;" src="{% static 'images/CLogo.png' %}"> CollabPads</h1>
      		                    <h5 class="uppercase mb0">Create, Share, And Collaborate on lists<br></h5>
      		                </div>
      		            </div>

      		        </div>

      		        <div class="align-bottom relative-xs text-center">
      		            <a class="btn btn-lg mb32 mt-xs-40" href="/register/">Start Using CollabPads </a>
                      <a class="btn btn-filled btn-lg mb32 mt-xs-40" href="/listr_api/create_one_off/">Create Quick Pad </a>
      		        </div>
      		    </section>
              <section class="">
      		        <div class="container">
      		            <div class="row v-align-children">
      		                <div class="col-md-7 col-sm-6 text-center mb-xs-24">
      		                    <img class="cast-shadow" alt="Screenshot" src="{% static 'images/dashboard.png' %}">
      		                </div>
      		                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
      		                    <h3>Pads. Much More than a List<br></h3>
      		                    <p>CollabPads isn't your average list maker. Pads gives users more control over how their items are viewed, such as restricting access to viewing a Pad or only allowing collaborators to like items instead of adding their own. More control results in hundreds of potential uses for Pads.<br></p>
      		                    <a class="btn-filled btn" href="/register/">Start using collabpads </a>
      		                </div>
      		            </div>

      		        </div>

      		    </section>
              <section class="bg-dark">
      		        <div class="container">
      		            <div class="row v-align-children">
      		                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1">
                            <h3 class="mb64 mb-xs-32">A Pad For Anything.<br>No Account Needed<br></h3>
                            <div class="mb40 mb-xs-24">
                              <h5 class="uppercase bold mb16">Completely Free for Everyone<br></h5>
                              <p class="fade-1-4">Quick Pads are perfect for creating a list that only needs to be used once. Anyone with the link has access to the Pad, and is free for anyone that wants to use it.<br></p>
                            </div>
                            <div class="mb40 mb-xs-24">
                              <h5 class="uppercase bold mb16">Limited Power for a Limited Time<br></h5>
                              <p class="fade-1-4">While Quick Pads are great for short, quick lists, they don't last forever. Quick Pads expire after a few days, and don't offer the same control as a normal Pad might. However, they are still perfect for a quick coffee run or a group lunch.</p>
                            </div>
                            <a class="btn-filled btn" href="/listr_api/create_one_off/">Create Quick Pad </a>
      		                </div>
                          <div class="col-md-7 col-sm-6 text-center mb-xs-24">
      		                    <img class="cast-shadow" alt="Screenshot" src="{% static 'images/quickPad.png' %}">
      		                </div>
      		            </div>

      		        </div>

      		    </section>
      			<section>
      		        <div class="container">
      		            <div class="row">
      		                <div class="col-sm-12 text-center">
      		                    <h4 class="mb16">You've got questions. We've got answers.<br></h4>
      		                    <p class="lead mb64">Since we are new (and in beta), you might be curious about a few things regarding our platform.<br></p>
      		                </div>
      		            </div>

      		            <div class="row">
      		                <div class="col-sm-10 col-sm-offset-1">
      		                    <ul class="accordion accordion-2 one-open">
      		                        <li>
      		                            <div class="title">
      		                                <h4 class="inline-block mb0">Is CollabPads free?</h4>
      		                            </div>
      		                            <div class="content">
      		                                <p>Yes! (For now) CollabPads is completely free, whether you want to make a Quick Pad or create an account. In the future we might offer paid plans and premium features, but for now it's 100% free.<br></p>
      		                            </div>
      		                        </li>
      		                        <li>
      		                            <div class="title">
      		                                <h4 class="inline-block mb0">Do I need an account to make a Pad?</h4>
      		                            </div>
      		                            <div class="content">
      		                                <p>No, that's what Quick Pads are for! However, they are completely available to the public if they have the link and expire after a few days.<br></p>
      		                            </div>
      		                        </li>
      		                        <li>
      		                            <div class="title">
      		                                <h4 class="inline-block mb0">What does Beta mean?</h4>
      		                            </div>
      		                            <div class="content">
      		                                <p>Beta means that the platform is not completely finished and is still in development. There may be a few bugs here and there, but fear not. They are still being squashed and new features are being implemented each week<br></p>
      		                            </div>
      		                        </li>
      		                        <li>
      		                            <div class="title">
      		                                <h4 class="inline-block mb0">How private are my Pads?</h4>
      		                            </div>
      		                            <div class="content">
      		                                <p>Your account and Pads are completely private unless you A) Add another account as a collaborator, or B) Share the link with someone. This is with the exception of Quick Pads, which have no account tied to them and are available to anyone with the link. Privacy is one of our top concerns, which is why we take our security very seriously.<br></p>
      		                            </div>
      		                        </li>
      		                    </ul>

      		                </div>
      		            </div>

      		        </div>

      		    </section>
		</div>


	     <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/flexslider.min.js' %}"></script>
        <script src="{% static 'js/lightbox.min.js' %}"></script>
        <script src="{% static 'js/masonry.min.js' %}"></script>
        <script src="{% static 'js/twitterfetcher.min.js' %}"></script>
        <script src="{% static 'js/spectragram.min.js' %}"></script>
        <script src="{% static 'js/ytplayer.min.js' %}"></script>
        <script src="{% static 'js/countdown.min.js' %}"></script>
        <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'js/parallax.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
