{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Woot Poot" />
    <meta name="description" content="CollabPads">
    <!-- Document title -->
    <title>CollabPads - Create and Share Lists</title>
    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    <!-- Template color -->
    <style>
      .progress-bar{
        background-color: #2dab08;
      }
      .parallax {
        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
    </head>
    <body id="page-top">

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">CollabPads</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">

              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header class="masthead parallax text-center text-white d-flex" style="background-image: url('{% static 'images/mainBG.jpg' %} ');">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase">
                <strong>CollabPads</strong>
                <p class="">Create and Share Lists</p>
                <p class="text-faded">PRE ALPHA</p>
              </h1>
              <hr>
            </div>
            <div class="col-lg-8 mx-auto">
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="/dashboard">Go To CollabPads</a>
            </div>
          </div>
        </div>
      </header>
      <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">A New Way To Share The Things You Need</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">CollabPads is the easiest way to create, share, and contribute to lists on any device. Sign up to create 'Pads', and share them with your friends whether they have an account or not.<br  />Best of all, it's totally free.</p>
          </div>
        </div>
      </div>
    </section>
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">In Development</h2>
              <p class="">Since CollabPads is in development, all planned features haven't been implemented yet.<br  />
              However, we fully intend to implement everything we have drawn out in order to create a great product.</p>
              <hr class="my-4">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-clipboard text-primary mb-3 sr-icon-1"></i>
                <h3 class="mb-3">Create Lists Online</h3>
                <h5 class="text-uppercase">100%</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-share text-primary mb-3 sr-icon-2"></i>
                <h3 class="mb-3">Share Lists with Friends</h3>
                <h5 class="text-uppercase">100%</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-3"></i>
                <h3 class="mb-3">Like Items In Lists</h3>
                <h5 class="text-uppercase">100%</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-link text-primary mb-3 sr-icon-3"></i>
                <h3 class="mb-3">Share Using Invite Links</h3>
                <h5 class="text-uppercase">75%</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fab fa-4x fa-apple text-primary mb-3"></i>
                <h3 class="mb-3">iPhone App</h3>
                <h5 class="text-uppercase">Not Started</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fab fa-4x fa-android text-primary mb-3 sr-icon-4"></i>
                <h3 class="mb-3">Android App</h3>
                <h5 class="text-uppercase">Not Started</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Go to top button -->
    <!--Plugins-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/homepage.js' %}"></script>

</body>

</html>
